# Supabase credentials
NEXT_PUBLIC_SUPABASE_URL=https://tqhkcvvdnbeqniglmlpd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxaGtjdnZkbmJlcW5pZ2xtbHBkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ5NDcyMTIsImV4cCI6MjA2MDUyMzIxMn0.lHz6WPaP9L1vDp9OKLfg708X7XjBg-yyRyoU8fdSSOI